h2.margin-bottom Please, add your email for verify account

= form_for(current_user, url: finish_sign_up_path(current_user), html: { class: 'display-flex' }) do |f|
  = f.text_field :email, value: '', class: 'form-control width-70', placeholder: 'Example: email@me.com'
  = f.submit 'Post', class: 'btn btn-primary margin-left'
