$('a.mark-book[data-book-id=<%= @book.id %>]').replaceWith('<p><strong>Book is readed</strong></p>');
$('.book[data-book-id=<%= @book.id %>] .subscribe-to-book').remove();
$('.book[data-book-id=<%= @book.id %>] .unsubscribe-from-book').remove();
